{% extends 'base.html.twig' %}

{% block title %}Usages index{% endblock %}

{% block body %}
    <h1>Usages index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for usage in usages %}
            <tr>
                <td>{{ usage.id }}</td>
                <td>{{ usage.name }}</td>
                <td>{{ usage.description }}</td>
                <td>
                    <a href="{{ path('app_usages_show', {'id': usage.id}) }}">show</a>
                    <a href="{{ path('app_usages_edit', {'id': usage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_usages_new') }}">Create new</a>
{% endblock %}
